button {
    margin: 10px;
}

.button-default {
    width: 165px;
}

.button-placed {
    width: 165px;
    background-color: rgb(190, 179, 17);
    color: black;
    /* Add any other styling you need */
}

.button-ready {
    width: 165px;
    background-color: rgb(9, 165, 7);
    color: white;
    /* Add any other styling you need */
}

.button-ready:disabled,
.button-placed:disabled,
.player-vs-ai:disabled {
    cursor: not-allowed; 
    opacity: 0.5;
}