.lobby {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
}

.lobby ul {
    padding: unset;
    position: relative;
    right: 80px;
}

.lobby ul li {
    list-style-type: none;
}

.lobby ul li input {
    margin-right: 10px;
}

input:disabled + label {
    cursor: not-allowed;
}

.confirmation {
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    right: 80px;
}

.status-bar {
    height: 90px;
    margin-bottom: 20px;
}

.confirm-button:disabled {
    cursor: not-allowed; 
    opacity: 0.5;
}

.hide {
    display: none;
}