.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.logo {
    font-size: 24px;
    width: 185px;
}

.logo a {
    text-decoration: none;
    color: white;
}

.nav {
    min-width: 185px;
    display: flex;
    justify-content: flex-end;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

h1 {
    width: 420px;
}
