.main-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-nav {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  margin-top: 100px;
}

.pvai-container {
  position: relative;
}

.pvai-container p {
  position: absolute;
}